body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(237, 212, 161);}

/* title */ 

#maintitle {
    display: flex;
    justify-content: center;
    border:5px solid 
} 

.title-text {
    font-size: 100px;}

#subheading{
    display:flex;
justify-content:center;
flex-direction: row;
border:5px solid;
font-size: 30px;
padding-top: 10px;
}

/* Links */
.links {
    display: flex;
    justify-content:space-evenly;
    border:5px solid;
    padding: 100px;
    gap: 100px;
     
 }

    #cap-link{
        display: flex;
        justify-content: center;
        border:5px solid;
        text-align: center;
        font-size: 30px;
    }

    #lasag-link{
        display: flex;
        justify-content: center;
        border:5px solid;
        text-align: center;
        font-size: 30px;
    
    }

    #spag-link{
        display: flex;
        justify-content: center;
        border:5px solid;
        text-align: center;
        font-size: 30px;
    
    }

/* home-picutes */
.home-picture {height: auto; 
    width: 300px;
    display: block; 
    margin: auto;
    padding-bottom: 20px;
border-radius: 15%;

}
    







/*  
    .title,.description {box-sizing: border-box;
        text-align: center;
        padding: 5px;
        
    }

    .highlight {color: green;}

    #paragraph {box-sizing: border-box; padding: 10px;}

    .subtitle {box-sizing: border-box; padding: 10px; }

    #ingredients{box-sizing: border-box; padding: 15px; margin: 10px;}

    #steps{box-sizing: border-box; padding: 15px; margin: 10px; }

    .picture {height: auto; 
        width: 500px;
        display: block; 
        margin: auto;}

        .list{font-size: large;} */